<div class="home-container">

    <div class="home-container-overlay">
        <div class="mobile-nav">
            <div class="logo-container">
                <img src="/assets/logo-white.png" alt="">
            </div>
            <div class="mobile-nav-links">
                <a href="/users/{{user._id}}/dashboard">Home</a>
                <a href="/forum/{{user._id}}">Forum</a>
                <a href="/users/signout">Logout</a>
            </div>
        </div>
        <div class="dashboard-wrapper">
            <div class="dashboard-overlay">
                <div class="dashboard">
                    <section class="dashboard-header">
                        <div class="user-info-container">
                            <div class="image-section">
                                <div class="image-container">
                                    <img src="{{user.profilePicture}}" class="img-circle" alt="Profile picture of user">
                                </div>
                            </div>
                            <div class="user-info">
                                <p class="hello">Hello,</p>
                                <p class="username">@{{user.username}}</p>
                            </div>
                        </div>

                        <div class="icons">
                            <a href="/users/{{user._id}}/update" title="Settings">
                                <div class="icon-setting">
                                    <div class="icon">
                                        <span>

                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
                                                <path
                                                    d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
                                            </svg>

                                        </span>
                                    </div>

                                </div>
                            </a>
                        </div>
                </div>

                </section>

                <!-- DROPDOWN MENU -->
                <section class="dashboard-navigation">
                    <div class="category-dropdown">
                        <div class="dropdown show">
                            <a class="categories-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Find by category
                            </a>

                            <div class="dropdown-menu dropdown-container" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item category-link" href="/tasks/{{user._id}}/category/work">Work</a>
                                <a class="dropdown-item category-link"
                                    href="/tasks/{{user._id}}/category/study">Study</a>
                                <a class="dropdown-item category-link"
                                    href="/tasks/{{user._id}}/category/exercise">Exercise</a>
                                <a class="dropdown-item category-link"
                                    href="/tasks/{{user._id}}/category/other">Something else
                                    cool</a>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-btn-container">
                        <a href="/users/{{user._id}}/dashboard" class="dashboard-btn">My hours</a>
                    </div>
                    <div class="dashboard-btn-container">
                        <a href="/tasks/{{user._id}}/create" class="dashboard-btn">Add hours</a>
                    </div>
                </section>

                <section class="dashboard-content">

                    {{#each tasks}}
                    <a href="/tasks/{{user._id}}/{{_id}}/single">
                        <div class="task">
                            <div class="task-info-container">
                                <div class="task-name-container">
                                    <p class="task-name">{{category}}</p>
                                </div>
                                <div class="task-description-container">
                                    <p class="task-decription">{{description}}</p>
                                </div>
                                <div class="task-hours-container">
                                    <p class="task-hours">Hours: {{hours}}</p>
                                </div>
                            </div>
                            <div class="arrow-container">
                                <div class="arrow-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                        class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{/each}}
            </div>
            </section>
        </div>
    </div>
</div>


{{> forumfeed}}

</div>
</div>